a{
    color: #000;
    text-decoration: none;
}
.footer{
    background:linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)), url("bg.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title{
    color: #ffffff42;
    font-weight: 600;
}

.contact .num{
    position: relative;
}
.contact .num::after{
    content: " ";
    bottom: 0;
    left: 0;
    width: 56%;
    height: 2px;
    background-color: #8B4513;
    position: absolute  ;
}
.team{
    position: relative;
}
.team::after{
    content: " ";
    bottom: 0;
    left: 0;
    width: 40%;
    height: 2px;
    background-color: #8B4513;
    position: absolute  ;
}
.social-icon{
    color: #ffff;
    font-size: 24px;
    transition: all 0.2s ease;
}
.social-icon:hover{
    color: #8b4513cb;
    transition: all 0.2s ease;
}
.link{
    text-decoration: none;
    color: #8B4513;
    font-size: 14px;
    position: relative;
}
.link::after{
    content: " ";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #8B4513;
    position: absolute  ;
    transition: all 0.2s ease;
}
.link:hover::after{
    width: 100%;
    transition: all 0.2s ease;
}
.fa-heart:hover{
    color: rgb(202, 3, 3);
    scale: 1.2;
    transition: all 0.2s ease;
}
.fa-heart{
    transition: all 0.2s ease;
}